.menuWrapper ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-decoration: none;
}
  
.menuWrapper li{
  margin-top: 85px;
  margin-right: 27px;
  margin: 54px;
}

.logoWrapper{
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-left: 35px;
}

html{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
}

.header{
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
  
}

.menuWrapper a{
  color: white;
  font-family: "Merriweather", serif;
  text-decoration: none;
  font-size: 20px;
}

