.bottom-link{
    padding-top: 140px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 35px;
    margin-top: 40px;
}

.bottom-link li{
    list-style: none;
    padding-left: 67.5px;
}

.bottom-link ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}